@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
  background: linear-gradient(93.69deg, #a93eff, #5e40de 50.52%, #00b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}